body{
    background-image: url('../images/fondo3.jpg');
    
    
}


.titulo{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vh;
    font-style: italic;
    font-weight: bolder;
}

h1, h2{
    color: white;
    font-family: 'Amethyst';
}

.header{
    margin-top: 3px;
}

.header-page{
    text-align: center;
    margin-bottom: -4px;
}

.header-actions{
    text-align: center;
}

.players.current-shift {
    box-shadow: 10px 10px 40px  rgb(60, 255, 0); 
    color: #202291;
}

.info{
    margin-bottom: 0px;
}

#winner-info, #draw-info{
    width: 100%;
}

.winner-message{
    text-align: center;
    margin-top: 4px;
}


#board{
    
    cursor: pointer;
    margin-left: 4px;
}

.hide {
    display: none;
}

.bloqueado{
    background-image: url("../images/fondo.png");
}

.jugador-titulo{
    color:white;
    font-size: 4vh;
    font-weight: bolder;
}

.jugador1-fondo{
    background-image: url('../images/jugador1.png');
}

.jugador2-fondo, .jugador1-fondo{
    background-size:cover;
    background-repeat:no-repeat;
}
.jugador2-fondo{
background-image: url('../images/jugador2.png');
}